# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.db
accountservice/accountservice-linux-amd64
accountservice/healthcheck-linux-amd64
healthcheck/healthcheck-linux-amd64
